/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
    font-weight:normal;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 Microsoft YaHei;
}
input,select,textarea {
    font-size:100%;
}

/* IE输入框 去掉眼睛和删除 */
input::-ms-clear,input::-ms-reveal{
  display: none;
}
/* placeholder 颜色 */
input::-webkit-input-placeholder{
            color:#c0c0c0;
            font-weight: 300;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#c0c0c0;
            font-weight: 300;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#c0c0c0;
            font-weight: 300;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#c0c0c0;
            font-weight: 300;
        }

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
/*    display: block;*/
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
.clear{
  clear: both;
}

/* 美化checkbox和radio */
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none;
}
.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle;
}
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
  }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0;
  }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
  }
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed;
  }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
  }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4;
  }
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none;
}
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block;
}
.magic-radio + label:before {
  border-radius: 50%;
}
.magic-radio + label:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb;
}
.magic-radio:checked + label:before {
  border: 1px solid #3e97eb;
}
.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9;
}
.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9;
}
.magic-checkbox + label:before {
  border-radius: 3px;
}
.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}
.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb;
}
.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}

/*
* ================ 二级页面公共的css样式=========================
* ================ 导航  登录弹窗  和  页脚======================
*/
/* 公共样式 */
body{
  width: 100%;
  background: #fff;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/* 返回顶部 */
.scroll_top{
  position: fixed;
  bottom: 200px;
  right: 40px;
  background: rgba(0,0,0,0.2);
  width: 50px;
  height: 50px;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 8;
  display: none;
}

/* 登录弹窗 开始*/
.loging-body{
  height: 100%;
  overflow-y: hidden;
}
.login-box-motai{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  display: none;
  transition: all 1s;
}
.motai-padding{
  padding-top: 200px;
}
.login-module-box{
  position: fixed;
  width: 360px;
  height: 464px;
  background: #fff;
  border-radius: 6px;
  top: -25%;
  left: 50%;
  margin-left: -180px;
  margin-top: -232px;
  overflow: hidden;
  transition: all .8s;
  opacity: 0;
  z-index: 999;
}
.module-box-position{
  top: 50%;
  opacity: 1;
}
.login-colse-btn{
  color: #999;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* tabs-box */
.common-tabs-box{
  width: 530px;
  height: auto;
  margin: 0 auto;
}

/* 登录框 */
.login-box{
  overflow: hidden;
  padding-top: 40px;
  text-align: center;
}
.box-title{
  font-size: 24px;
  color: #666;
  font-weight: 300;
  margin: 0px auto 40px;
}
.waring-box{
  width: 280px;
  height: 24px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -140px;
  background: #ffebeb;
  text-align: left;
  line-height: 24px;
  border: 1px solid #faccc6;
  display: none;
}
.waring-icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fc5144;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 17px;
  margin-right: 0px;
  margin-left: 10px;
  vertical-align: 1px;
}
.waring-text{
  font-size: 14px;
  color: #fc5144;
}

.content-box{
  width: 280px;
  height: auto;
  margin: 0 auto;
}
.content-box p{
  position: relative;
}
.from-input{
  width: 280px;
  height: 36px;
  border: 1px solid #e8e8e8;
  text-indent: 40px;
  color: #666;
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 9px;
  top: 9px;
  font-size: 20px;
  color: #fc5144;
}
.register-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: 4px;
  font-size: 20px;
  color: #fc5144;
  line-height: 36px;
}
.check-warp{
  width: 35%;
  float: left;
  font-size: 14px;
}
.check-warp-2{
  font-size: 14px;
  width: 40%;
  float: right;
  text-align: right;
}
.check-warp-2 a{
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.check-warp-2 a:hover{
  text-decoration: underline;
}
.check-text{
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}
.login-button{
  position: relative;
  margin-top: 0px;
  width: 280px;
  height: 104px;
  background-repeat: no-repeat;
  transition: all .5s;
}
.state-bg-1{
  background: url('../images/login_btn_disable.png') no-repeat center;
  background-size: 280px 104px;
  opacity: .8;
}
.state-bg-2{
  background: url('../images/login_btn_select.png') no-repeat center;
  background-size: 280px 104px;
}
.login-text{
  width: 280px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  position: absolute;
  border-radius: 6px;
  top: 20px;
  left: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  background: rgba(0,0,0,0);
  outline: none;
  border: 1px solid transparent;
}

.register-p{
  width: 157px;
  margin: -10px auto 10px;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}
.register-p a{
  color: #999999;
  padding-bottom: 2px;
  text-decoration: underline;
}
.register-p a:hover{
  color: #444;
}
.icon-warp-bg{
  width: 100%;
  height: 80px;
  margin-top: -2px;
  background: url('../images/login_footer.png') no-repeat center;
  background-size: cover;
}
.icon-warp{
  width: 157px;
  margin: 20px auto;
}
.item-box{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 6;
  margin-top: -10px;
  cursor: pointer;
}
.item-box:nth-child(1){
  float: left;
}
.item-box:nth-child(2){
  float: right;
}
.item-box img{
  opacity: 0;
  transition: all .5s;
}
.item-box:hover .icon-img{
  opacity: 1;
}
.qq-box{
  background: url('../images/qq_normal.png') no-repeat center;
  background-size: cover;
}
.weixin-box{
  background: url('../images/weixin_normal.png') no-repeat center;
  background-size: cover;
}
/* =====================登录弹窗  结束===================== */


.home-content{
  width: 100%;
  margin: auto;
}
/* header */
.header{
  width: 100%;
  height: 90;
  background-size: cover;
  position: relative;
  background: url('../images/nei_banner.png') no-repeat center;
  background-size: cover;
}

/* 用户头像样式 */
.user-box{
  width: 200px;
  height: 52px;
  position: relative;
  cursor: pointer;
  float: left;
  margin-top: 20px;
  /* outline: 1px solid red; */
}
.user-heade{
  width: 50px;
  height: 52px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #fff;
  float: left;
}
.user-name{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  float: left;
}
.triangle-tag{
  display: block;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 8px solid transparent;
  margin: 20px 0 20px 30px;
  transition: all 0.5s;
  float: left;
}

.user-settings-box{
  position: absolute;
  width: 100px;
  /* min-height: 96px; */
  background: #fff;
  border-radius: 4px;
  z-index: 10;
  bottom: -105px;
  right: 18px;
  padding: 20px 10px 0px;
  box-shadow: 1px 3px 10px #dddbdb;
  transition: all 1s;
  display: none;
}
.user-item-text{
  font-size: 14px;
  color: #333333;
  margin: 0px 0px 20px;
  cursor: pointer;
}
.user-item-text:hover{
  color: #7186F5;
}
.user-item-text img{
  margin-right: 5px;
  vertical-align: -4px;
}
/* 用户头像样式  ==结束== */

.home-nav{
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
.logo{
  display: block;
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 15px;
}
.home-nav-warp{
  position: relative;
  z-index: 2;
  width: 800px;
  float: left;
  height: 90px;
  margin-left: 20px;
}
.common-nav-item{
  position: relative;
  display: block;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  font-size: 14px;
  float: left;
  margin: 0px 20px 0px;
}
.next-nav-box {
  background: #fff;
  position: absolute;
  border-radius: 2px;
  width: 84px;
  bottom: -70px;
  left: -12px;
  display: none;
  box-shadow: 1px 3px 10px #dddbdb;
}
/* 三角形 */
.tag-i{
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 20px;
}
.first-tag-nav:hover .tag-i{
  border-bottom: 10px solid #3d3535ed;
}
.next-nav-box li{
  position: relative;
  list-style: none;
}

.next-nav-box li a{
  color: #444;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0px 2px;
}
.next-nav-box li a:hover{
  font-weight: 400;
  color: #58a3ff;
}

.common-nav-item a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  padding: 0px 2px;
}
.common-nav-item:hover .border-bottom{
  display: block;
}
/* 二级菜单 */
.common-nav-item:hover .next-nav-box{
  display: block;
}

.border-bottom{
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  bottom: 1px;
  left: 0;
  display: none;
}

.home-nav-login{
  display: inline-block;
  z-index: 2;
  width: 68px;
  height: 32px;
  text-align: center;
  margin: 28px 10px 0px;
  cursor: pointer;
}
.home-nav-login a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 68px;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.white-box{
  height: 50px;
  width: 6px;
  background: #ffffff30;
  box-shadow: 0 0 20px #fff;
  position: absolute;
  top: -10px;
  transform: rotate(45deg);
  left: -40px;
  border: transparent;
  transition: .4s;
}
.home-nav-login a:hover .white-box{
  left: 90px;
}
.login{
  background: url('../images/zhuce.png') no-repeat center;
}
.zhuce{
  background: url('../images/login.png') no-repeat center;
}

/* 分割线 */
.common-middel-title-1{
  text-align: center;
  width:1200px;
  margin: auto;
  color: #333;
  font-size: 36px;
  font-weight: 300;
}
.common-middel-title-2{
  text-align: center;
  width:1200px;
  margin: auto;
  color: #777;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 300;
}
.common-middel-border{
  display: block;
  margin: 40px auto 50px;
}

/* footer */
.footer{
  /* outline: 1px solid red; */
  width: 100%;
  height: 700px;
  background: url('../images/footor.png') no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 44px;
  z-index: 6;
}
.footer-border{
  height: 2px;
  width: 1500px;
  margin: -20px auto 40px;
  border-bottom: 1px solid #fff;
  opacity: .2;
}
.company-info{
  width: 1200px;
  margin: auto;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
  margin-top: 0px;
  opacity: .6;
}
.ft-list-warp{
  width: 1200px;
  height: auto;
  margin: 300px auto 50px;
}
.ft-list-item {
  text-align: center;
  float: left;
  width: 200px;
}

.ft-list-warp h3{
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 60px;
}
.ft-list-warp p{
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: left;
}
.ft-list-warp p a{
  text-decoration: none;
  color: #ffffff;
}
.ft-list-warp p a:hover{
  text-decoration: underline;
}

.last-ft-list-item {
  text-align: center;
}
.last-ft-list-item p{
  text-align: center;
  font-size: 24px;
}
.last-ft-list-item .phone-text{
  margin: 20px auto 10px;
}
.last-ft-list-item .phone-text img{
  vertical-align: -20px;
  margin: 10px auto;
  margin-right: 10px;
}


/* mian-fei-ti-yan */
.mian-fei-ti-yan{
  /* outline: 1px solid red; */
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 7;
}
.mian-fei-ti-yan .btn{
  position: relative;
  width: 320px;
  height: 168px;
  display: block;
  background: url('../images/lijitiyan_btn.png') no-repeat center;
  background-size: cover;
}
.mian-fei-ti-yan .btn .tiyan{
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  top: 30px;
  left: 40px;
  z-index: 2;
  width: 240px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 35px;
  text-align: center;
  line-height: 56px;
}
.mian-fei-btn-warp{
  width: 1200px;
  margin: auto;
  margin-bottom: -450px;
  padding-top: 80px;
}
.mian-fei-ti-yan .pad-warp{
  width: 100%;
  height: 570px;
  background: url('../images/pad.png') no-repeat center;
  background-size: cover;
  margin-bottom: -263px;
}

/* middel-border-title */
.middel-border-title{
  color: #333;
  font-size: 36px;
  font-weight: 300;
  margin: 100px auto 30px;
}
.middel-border-title-2{
  color: #333;
  font-size: 36px;
  font-weight: 300;
  margin: 70px auto 20px;
}
.middel-border-p{
  color: #777;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 300;
}
