/*
* ================ 二级页面公共的css样式=========================
* ================ 导航     和     页脚=========================
*/
/* 公共样式 */
body{
  width: 100%;
  background: #fff;
  min-width: 1300px;
}
.home-content{
  width: 100%;
  margin: auto;
}
/* header */
header{
  width: 100%;
  height: 90
  outline: 1px solid #444;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
  background: url('../images/nei_banner.png') no-repeat center;
  background-size: cover;
}
/* 用户头像样式 */
.user-box{
  width: 200px;
  height: 52px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.user-heade{
  width: 50px;
  height: 52px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #fff;
}
.user-name{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
}
.triangle-tag{
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  margin: 20px 0 20px 30px;
  transition: all 0.5s;
}

.user-settings-box{
  position: absolute;
  width: 100px;
  min-height: 96px;
  background: #fff;
  border-radius: 4px;
  z-index: 10;
  bottom: -136px;
  right: 0;
  padding: 20px 0 20px 20px;
  transition: all 1s;
  display: none;
}
.user-item-text{
  font-size: 14px;
  color: #333333;
  margin: 10px 0;
  cursor: pointer;
}
.user-item-text:hover{
  color: #7186F5;
}
.user-item-text img{
  margin-right: 5px;
  vertical-align: -4px;
}



.home-nav{
  width: 1200px;
  height: 90px;
  /* background: rgba(0,0,0,0.1); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  display: block;
  position: relative;z-index: 2;
}
.home-nav-warp{
  position: relative;
  z-index: 2;
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}
.common-nav-item{
  display: block;
  color: #fff;
  padding: 4px 0px;
  /* background: rgba(0,0,0,.2); */
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  font-size: 14px;
}
.common-nav-item a{
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.common-nav-item:hover .border-bottom{
  display: block;
}
.border-bottom{
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  bottom: -29px;
  left: 0;
  display: none;
}
.home-nav-login{
  display: block;
  position: relative;
  z-index: 2;
  width: 68px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-nav-login a{
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.login{
  background: url('../images/login.png') no-repeat center;
}
.zhuce{
  background: url('../images/zhuce.png') no-repeat center;
}

/* 分割线 */
.common-middel-title-1{
  text-align: center;
  width:1200px;
  margin: auto;
  color: #333;
  font-size: 36px;
  font-weight: 300;
}
.common-middel-title-2{
  text-align: center;
  width:1200px;
  margin: auto;
  color: #777;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 300;
}
.common-middel-border{
  display: block;
  margin: 40px auto 50px;
}

/* footer */
footer{
  outline: 1px solid red;
  width: 100%;
  height: 744px;
  background: url('../images/footor.png') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
}
.footer-border{
  height: 2px;
  width: 1500px;
  margin: -20px auto 40px;
  border-bottom: 1px solid #fff;
}
.company-info{
  width: 1200px;
  margin: auto;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
  margin-top: -30px;
}
.ft-list-warp{
  width: 1200px;
  height: auto;
  margin: 300px auto 50px;
  display: flex;
  justify-content: space-between;
}
.ft-list-warp h3{
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 60px;
}
.ft-list-warp p{
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: left;
}
.ft-list-warp p a{
  text-decoration: none;
  color: #ffffff;
}
.ft-list-warp p a:hover{
  text-decoration: underline;
}
.last-ft-list-item {
  text-align: center;
}
.last-ft-list-item p{
  text-align: center;
  font-size: 24px;
}
.last-ft-list-item p:nth-child(2) img{
  vertical-align: -20px;
  margin: 10px auto;
  margin-right: 10px;
}


/* mian-fei-ti-yan */
.mian-fei-ti-yan{
  outline: 1px solid red;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 4;
}
.mian-fei-ti-yan .btn{
  position: relative;
  width: 320px;
  height: 168px;
  display: block;
  background: url('../images/lijitiyan_btn.png') no-repeat center;
  background-size: cover;
  text-decoration: none;
  color: #fff;
}
.mian-fei-ti-yan .btn span{
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  top: 40px;
  left: 110px;
  z-index: 2;
}
.mian-fei-btn-warp{
  width: 1200px;
  margin: auto;
  margin-bottom: -450px;
  padding-top: 80px;
}
.mian-fei-ti-yan .pad-warp{
  width: 100%;
  height: 570px;
  background: url('../images/pad.png') no-repeat center;
  background-size: cover;
  margin-bottom: -263px;
}

/* middel-border-title */
.middel-border-title{
  color: #333;
  font-size: 36px;
  font-weight: 300;
  margin: 100px auto 30px;
}
.middel-border-title-2{
  color: #333;
  font-size: 36px;
  font-weight: 300;
  margin: 70px auto 20px;
}
.middel-border-p{
  color: #777;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 300;
}
