.download-content{
  margin-bottom: 300px;
  margin-top: 100px;
}
.download-box{
  width: 1200px;
  height: auto;
  margin: 0px auto 50px;
  /* outline: 1px solid red; */
}
.download-item{
  width: 360px;
  height: 390px;
  background: #fff;
  box-shadow: 0 0 17px #e8e8e8;
  border-radius: 4px;
  margin: 50px 20px 80px;
  text-align: center;
  position: relative;
  transition: all .5s;
  float: left;
}
.download-item:hover{
  box-shadow: 0 4px 50px -18px #4c4b4b;
}
.download-item .title{
  font-size: 24px;
  color: #333333;
  width: 350px;
  font-weight: 300;
  margin: 40px auto 30px;
}
.download-item p {
  text-align: left;
  width: 320px;
  margin: 10px auto;
  font-size: 18px;
  color: #999999;
  font-weight: 300;
}
.download-item .title-2 {
  margin: 10px auto 60px;
}
.download-item .btn{
  display: inline-block;
  width: 220px;
  height: 88px;
  background: #999;
  position: absolute;
  bottom: -51px;
  left: 50%;
  margin-left: -110px;
  cursor: pointer;
  background: url('../images/down_normal.png') no-repeat center;
  background-size: cover;
  transition: all .5s;
  line-height: 68px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}
.download-item .btn:hover{
  background: url('../images/down_select.png') no-repeat center;
  background-size: cover;
}
.download-item img {
  display: block;
  margin: 30px auto 0;
  width: 168px;
  height: 168px;
}
