.common-swiper-container{
  width: 100%;
  height: 620px;
  background: url('../images/product_index_banner.png') no-repeat center;
  background-size: cover;
  position: relative;
}
.common-middel-content{
  width: 1208px;
  margin: 0 auto;
  padding-top: 40px;
}
.common-items-warp{
  width: 1208px;
  /* outline: 1px solid red; */
}
.common-items-warp li{
  list-style: none;
  width: 292px;
  height: 292px;
  border: 1px solid #e8e8e8;
  margin: 4px;
  float: left;
  cursor: pointer;
}
.common-items-warp li a{
  display: inline-block;
  width: 292px;
  height: 292px;
  /* background: red; */
}
.font-warp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  background: rgba(0,0,0,0.07);
  position: relative;
  overflow: hidden;
  transition: all .2s;
}
.font-img{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -40px;
  transition: all .4s;
}
.common-items-warp li:hover .font-img{
  bottom: 40px;
}
.common-items-warp li:hover .font-warp{
  border-radius: 0;
  width: 100%;
  height: 160px;
  margin: 0 auto 40px;
}
.item-name{
  text-align: center;
  font-size: 18px;
  color: #666;
}
.item-price{
  text-align: center;
  font-size: 16px;
  color: #666;
}
