/* 锚点样式 */
.nav-two-warp{
  width: 100%;
  height: 60px;
  margin: 0px auto 0px;
  background: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  display: none;
}
.nav-two-warp ul{
  width: 1180px;
  margin: 0 auto;
}
.nav-two-warp ul li{
  list-style: none;
  float: left;
  margin: 15px 10px 0px;
  width: 90px;
  height: 30px;
}
.maodian-a{
  display: inline-block;
  line-height: 30px;
  width: 90px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  text-decoration: none;
  color: #666;
  font-weight: 300;
  background: url('../images/code-normal.png') no-repeat center;
  background-size: cover;
  border-radius: 4px;
  color: #fff;
}
.maodian-a:hover{
  border: 1px solid #6e8cfc;
}
.maodian-active{
  background: #6e8cfc;
  border: 1px solid #6e8cfc;
  color: #ffffff;
}
.title-tag{
  margin-bottom: 80px;
}

/*  */
.common-middel-title-1{
  margin-top: 20px;
}
.common-swiper-container{
  width: 100%;
  height: 620px;
  background: url('../images/product_index_banner.png') no-repeat center;
  background-size: cover;
  position: relative;
}
.common-middel-content{
  width: 1208px;
  margin: 0 auto;
  padding-top: 40px;
}
.common-items-warp{
  width: 1208px;
  /* outline: 1px solid red; */
}
.common-items-warp li{
  list-style: none;
  width: 292px;
  height: 292px;
  border: 1px solid #e8e8e8;
  margin: 4px;
  float: left;
  cursor: pointer;
}
.common-items-warp li a{
  display: inline-block;
  width: 292px;
  height: 292px;
  /* background: red; */
}
.font-warp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  background: rgba(0,0,0,0.07);
  position: relative;
  overflow: hidden;
  transition: all .2s;
}
.font-img{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -40px;
  transition: all .4s;
}
.common-items-warp li:hover .font-img{
  bottom: 40px;
}
.common-items-warp li:hover .font-warp{
  border-radius: 0;
  width: 100%;
  height: 160px;
  margin: 0 auto 40px;
}
.item-name{
  text-align: center;
  font-size: 18px;
  color: #666;
}
.item-price{
  text-align: center;
  font-size: 16px;
  color: #666;
}
