*{
  margin: 0;
  padding: 0;
}
/* IE输入框 去掉眼睛和删除 */
input::-ms-clear,input::-ms-reveal{
  display: none;
}
input,select,textarea {
    font-size:100%;
}
/* 清除浮动 */
.clear{
  clear: both;
}

html, body {
  height: 100%;
}
body{
  background: #ADCAE6;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* 美化checkbox和radio */
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none;
}
.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle;
}
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
  }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0;
  }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
  }
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed;
  }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
  }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4;
  }
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none;
}
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block;
}
.magic-radio + label:before {
  border-radius: 50%;
}
.magic-radio + label:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb;
}
.magic-radio:checked + label:before {
  border: 1px solid #3e97eb;
}
.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9;
}
.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9;
}
.magic-checkbox + label:before {
  border-radius: 3px;
}
.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}
.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb;
}
.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}



/* header */
.header{
  width: 100%;
  height: 90px;
  background-size: cover;
  position: relative;
  background: url('../images/nei_banner.png') no-repeat center;
  background-size: cover;
}
.home-nav{
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
.logo{
  display: block;
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 15px;
}
.home-nav-warp{
  position: relative;
  z-index: 2;
  width: 800px;
  float: left;
  height: 90px;
}


/* 登录注册页面的 container */
.container {
  min-height: 100%;
  position: relative;
}
.login-content{
  min-height: 100%;
  padding-bottom: 400px;
}
.login-footer{
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  height: 240px;
  background: url('../images/footer-bg.png') no-repeat center;
  background-size: cover;
  text-align: center;
}

/* 登录注册页面的 footer */
.people-img{
  position: relative;
  width: 600px;
  top: -100px;
  z-index: 2;
}
.line-img{
  width: 1200px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -600px;
}
.login-company-info{
  position: absolute;
  left: 50%;
  margin-left: -600px;
  bottom: 10px;
  width: 1200px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
}


/* 登录框 */
.login-box{
  width: 400px;
  height: 424px;
  background: #fff;
  border-radius: 6px;
  margin: 80px auto;
  padding-top: 40px;
  text-align: center;
  position: relative;
}
.box-title{
  font-size: 24px;
  color: #666;
  font-weight: 300;
  margin: 0px auto 40px;
}
.waring-box{
  width: 280px;
  height: 24px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -140px;
  background: #ffebeb;
  text-align: left;
  line-height: 24px;
  border: 1px solid #faccc6;
}
.waring-icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fc5144;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 14px;
  margin-right: 10px;
  margin-left: 10px;
}
.waring-text{
  font-size: 14px;
  color: #fc5144;
}


.content-box{
  width: 280px;
  height: auto;
  min-height: 300px;
  margin: 0 auto;
}
.content-box p{
  position: relative;
}
.from-input{
  width: 280px;
  height: 36px;
  border: 1px solid #e8e8e8;
  text-indent: 40px;
  color: #666;
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 9px;
  top: 9px;
  font-size: 20px;
  color: #fc5144;
}
.register-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: 4px;
  font-size: 20px;
  color: #fc5144;
  line-height: 36px;
}
.chexck-warp{
  width: 35%;
  float: left;
}
.chexck-warp-2{
  width: 40%;
  float: right;
  text-align: right;
}
.chexck-warp-2 a{
  color: #999999;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}
.chexck-warp-2 a:hover{
  text-decoration: underline;
}
.check-text{
  color: #999999;
  font-size: 16px;
  font-weight: 300;
}
.login-button{
  position: relative;
  margin-top: 0px;
  width: 280px;
  height: 104px;
  background: url('../images/login_btn_disable.png') no-repeat center;
  background-size: 280px 104px;
}
.login-text{
  width: 280px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  position: absolute;
  border-radius: 6px;
  top: 20px;
  left: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  /* opacity: .5; */
}

.register-p{
  width: 157px;
  margin: 0px auto 10px;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}
.register-p a{
  color: #999999;
  padding-bottom: 2px;
  text-decoration: underline;
}
.register-p a:hover{
  color: #444;
}
.icon-warp{
  width: 157px;
  margin: 20px auto;
}
.item-box{
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 6;
  cursor: pointer;
}
.item-box:nth-child(1){
  float: left;
}
.item-box:nth-child(2){
  float: right;
}
.item-box img{
  opacity: 0;
  transition: all .5s;
}
.item-box:hover .icon-img{
  opacity: 1;
}
.qq-box{
  background: url('../images/qq_normal.png') no-repeat center;
  background-size: cover;
}
.weixin-box{
  background: url('../images/weixin_normal.png') no-repeat center;
  background-size: cover;
}

.login-box-bg{
  display: block;
  width: 600px;
  margin: -110px auto 0px;
}





/* 注册部分样式 */
.register-box{
  width: 400px;
  height: 459px;
  background: #fff;
  border-radius: 6px;
  margin: 80px auto;
  padding-top: 40px;
  text-align: center;
  position: relative;
}
