.common-middel-content{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 100px auto 50px;
}

.common-activity-list{
  width: 1200px;
  height: auto;
  margin: 0 auto 70px;
  /* outline: 1px solid red; */
}
.common-activity-list-item{
  width: 1200px;
  height: 450px;
  background: #ffffff;
  box-shadow: 0 0 17px #e8e8e8;
  margin: 0 auto 50px;
  transition: all 0.5s;
}
.common-activity-list-item:hover{
  box-shadow: 0 4px 50px -18px #4c4b4b;
}
.list-a-warp{
  display: block;
  width: 100%;
  height: 450px;
}
.title-img-warp{
  width: 1200px;
  height: 300px;
  display: block;
  overflow: hidden;
}
.common-activity-list-item .title-img{
  width: 1200px;
  height: 300px;
  display: block;
  margin: auto;
  transition: all 0.6s;
}
.title-img-warp:hover .title-img{
  transform: scale(1.1);
}

.common-activity-list-item .title-info{
  text-align: left;
  width: 1160px;
  margin: 30px auto 10px;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.common-activity-list-item .title-text{
  text-align: left;
  width: 1160px;
  margin: 0px auto 30px;
  font-size: 18px;
  font-weight: 300;
  color: #999999;
}
